# Hours of the day when the work starts
startHour=8

# location where the CSV data file of last month is
# $start -> will be replaced with the start of last month (e.g. 2023-01-01)
# $end -> will be replaced with the end of last month (e.g. 2023-01-31)
dataFileLocation=/Users/myUser/Downloads/User_ Max-Mustermann_$start_$end.csv

# optional: open email client with predefined text
# $year -> will be replaced with the current year (e.g. 2023)
# $month -> will be replaced with name of the current month (e.g. Januar)
mailURI=mailto:Invoicing@company.com?subject=Rechnung%20$month%20$year&body=Sehr%20geehrte%20Damen%20und%20Herren%2C%0D%0A%0D%0Aanbei%20die%20Rechnung%20f%C3%BCr%20den%20Zeitraum%20$month%20$year.%20%0D%0A%0D%0AMit%20freundlichen%20Gr%C3%BC%C3%9Fen%0D%0AMax%20Mustermann
